<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Altium-dev" value="https://repository.altium.com/repository/nuget-private/" />
    <add key="Altium-adm" value="https://repository.altium.com/repository/nuget/" />
    <add key="Altium-rel" value="https://repository.altium.com/repository/nuget-release/" />
    <add key="Altium-develop" value="https://repository.altium.com/repository/nuget-develop-group/" />
  </packageSources>
  <apikeys>
    <add key="https://repository.altium.com/repository/nuget-private/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA5DumM+6x2k+h4r3HcKIbvQAAAAACAAAAAAAQZgAAAAEAACAAAAC5ZJMHw+UhA8dJtnerSDv1jPpx8kGXW7yHtx+KxeSmKQAAAAAOgAAAAAIAACAAAAAh/DRYEXaPZUzdxyQvEKGuE2f8zWJGGFKqbmq2knCR4DAAAADXZ4HWWt3FBPpJWLG5OB6/6nu3edcUuV6qnCU0P16UOoc1SZuLvnUKkl61kxsS1HBAAAAAGKL8Nc8sbIIh3Xzbg0H4InkDjb4NGtU9pz2vvhfAP/TOM+bfUnoyIkIR02hhp1CT1fN89GVYXJcS4aTARplGtA==" />
    <add key="https://repository.altium.com/repository/nuget-private/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA5DumM+6x2k+h4r3HcKIbvQAAAAACAAAAAAAQZgAAAAEAACAAAADwigqY4tScbSJ9wBx6rW6p8Si1ITMxa/nFBJZwOAI8pQAAAAAOgAAAAAIAACAAAADYZEW/JeLqZjBM+r+3XcANBY6rta0nXOF7/eB7yIhUNzAAAACCbxTs9/xhE7yOyNbThUAf6cRHgkjEF30Fv+At3Sk273wIjY+iT6xDyPic9fyPrTZAAAAAf0bU3CJA2xtYgZCebRuIPcZLAxiGFGPamQyqKK4hzcw4X6noeNRrIyhw0yCeP7UWQuEMpkXhRxgTOHn72dzNhw==" />
  </apikeys>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <Altium-develop>
      <add key="Username" value="repository.reader" />
      <add key="ClearTextPassword" value="anl=L*3:cfCl7N5O|9*@" />
    </Altium-develop>
    <Altium-adm>
        <add key="Username" value="repository.reader" />
        <add key="ClearTextPassword" value="anl=L*3:cfCl7N5O|9*@" />
      </Altium-adm>
    <Altium-dev>
      <add key="Username" value="repository.reader" />
      <add key="ClearTextPassword" value="anl=L*3:cfCl7N5O|9*@" />
    </Altium-dev>
    <Altium-rel>
      <add key="Username" value="repository.reader" />
      <add key="ClearTextPassword" value="anl=L*3:cfCl7N5O|9*@" />
    </Altium-rel>
  </packageSourceCredentials>
  <config>
    <add key="repositoryPath" value="rtl.net/Packages" />
  </config>
</configuration>